* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f1f5f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8fa;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
    position: sticky;
    align-items: center;
    padding: 35px 20px;
}

.logo img { 
    height: 25px;
    margin-left: 20px;
}

.navbar ul {
    margin-right: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
    
}

.nav-links a { 
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #fcf9f9;
    color: #4a4a4a;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #e0e0e0;
}

.nav-links .login-btn {
    background-color: #000000;
    color: white;
}

.nav-links .login-btn:hover {
    background-color: #4c4a4a;
}




